<footer class="footer">
    <div>
        <div class="footer__div">
            <section class="footer__section">
                <h3 class="footer__section--title">Tienda</h3>
                <ul class="list">
                    <li class=list__item>
                        <a class="list__item--link" href="https://www.maisonsdumonde.com/ES/es/e/tendances-deco/landing"
                            target="_blank">Productos</a>
                    </li>
                    <li class=list__item>
                        <a class="list__item--link" href="https://www.maisonsdumonde.com/ES/es/q/cajoneras"
                            target="_blank">Cajoneras</a>
                    </li>
                    <li class=list__item>
                        <a class="list__item--link" href="https://www.maisonsdumonde.com/ES/es/e/pieces/salon"
                            target="_blank">Para toda la
                            casa</a>
                    </li>
                    <li class=list__item>
                        <a class="list__item--link" href="https://www.maisonsdumonde.com/ES/es/e/pieces/chambre"
                            target="_blank">Habitaciones</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="footer__div">
            <section class="footer__section">
                <h3 class="footer__section--title">Nosotros</h3>
                <ul class="list">
                    <li class=list__item>
                        <a class="list__item--link" href="https://corporate.maisonsdumonde.com/en"
                            target="_blank">Nuestra
                            guía</a>
                    </li>
                    <li class=list__item>
                        <a class="list__item--link"
                            href="https://www.maisonsdumonde.com/ES/es/magasin-meubles-decoration.htm"
                            target="_blank">Nuestro diseño</a>
                    </li>
                    <li class=list__item>
                        <a class="list__item--link" href="https://foundation.maisonsdumonde.com/"
                            target="_blank">Nuestra
                            historia</a>
                    </li>
                    <li class=list__item>
                        <a class="list__item--link" href="https://faq-es.maisonsdumonde.com/es/"
                            target="_blank">Ayuda</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="footer__div">
        <section class="contact">
            <h3 class="contact__title">Contacto</h3>
            <ul class="contactlist">
                <a class="contactlist__item--link" href="mailto:pro@maisonsdumonde.com/"
                    target="_blank">ayuda@openspaces.com</a>
                <a class="contactlist__item--link" href="https://www.maisonsdumonde.com/ES/es/login"
                    target="_blank">Socios</a>
            </ul>
            <nav class="navfooter">
                <ul class="navlist">
                    <li class=navlist__item>
                        <a class="navlist__item--link"
                            href="https://www.linkedin.com/company/maisons-du-monde/?originalSubdomain=es"
                            name="Linkedin" title="Ir a linkedin" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li class=navlist__item>
                        <a class="navlist__item--link" href="https://www.instagram.com/maisonsdumonde_es/?hl=es"
                            name="Instagram" title="Ir a Instagram" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class=navlist__item>
                        <a class="navlist__item--link" href="https://twitter.com/mdm_es?lang=es" name="Twitter"
                            title="Ir a Twitter"><i class="fa-brands fa-twitter" target="_blank"></i></a>
                    </li>
                </ul>
        </section>
    </div>

    </nav>
    <div class="arrow">
        <a href="#header"><img class="arrow_img" src="./assets/images/arrow1.png" alt="flecha"
                title="Volver arriba" /></a>
    </div>
</footer>