<footer>
    <div>
        <section>
            título
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>

            </ul>
        </section>
        <section>
            título
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>

            </ul>
        </section>
        <section>
            título
            <ul>
                <li></li>
                <li></li>

            </ul>
        </section>
    </div>
    <nav>
        linkedin
        instagram
        twitter
    </nav>
</footer>