<header class="header">
    <div class="topmenu">
        <nav class="nav">
            <a href="https://www.maisonsdumonde.com/ES/es/login"> <img class="nav__menu"
                    src="./assets/images/menu-icon.png" alt="menu" title="Hacer login" /></a>
        </nav>
        <div class="topmenu__logo">
            <img class="topmenu__logo--img" src="./assets/images/logo.png" alt="logo" title="Logo de Open Space" />
        </div>

    </div>

    <div class="div">
        <h1 class="title">Disfruta creando espacios</h1>
        <div class="buttondiv">
            <button class="buttondiv__button">Comprar ahora</button>
        </div>
    </div>

</header>