<header class="header">
    <div class="topmenu">
        <nav class="nav">
            <a href="https://www.maisonsdumonde.com/ES/es/login" target="_blank"> <img class="nav__menu"
                    src="./assets/images/menu-icon.png" alt="menu" title="Hacer login" /></a>
        </nav>
        <div class="topmenu__logo">
            <img class="topmenu__logo--img" src="./assets/images/logo.png" alt="logo" title="Logo de Open Space" />
        </div>

    </div>

    <div class="div">
        <h1 class="title">Disfruta creando espacios</h1>
        <div class="button1">
            <form action="https://www.maisonsdumonde.com/ES/es/e/tendances-deco/landing" target="_blank"
                title="Ir a la tienda">
                <button class="button1__button">Comprar ahora</button>
            </form>
        </div>
    </div>

</header>