.section3 {
  background-color: $background-color;
  color: $color-green;
  &__div--title {
    font-size: 24px;
    text-align: center;
    padding-top: 87px;
    padding-bottom: 10px;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__div--text {
    font-size: 14px;
    text-align: center;
    padding: 0 27px 30px;
  }
  &__divimg {
    height: 304px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/creando-espacios.jpg);
    @media all and (min-width: 768px) {
      height: 474px;
    }
  }
}

.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 92px;

  &__button {
    background-color: $color-green;
    color: $color-white;
    font-size: 16px;
    height: 48px;
    width: 176px;
    border: none;
    &:hover {
      background-color: $color-ligthgreen;
      color: $background-color-orange;
      text-decoration: underline;
      transition: color ease 1s;
    }
  }
}

// @media all and (min-width: 1200px) {
//   .section3 {
//     display: flex;
//     background-color: transparent;
//   }
//   .section3__divimg {
//     width: fit-content;
//   }
// }
