.section1 {
  color: $color-green;
  background-color: $background-color;
  padding: 0 45px;
  display: grid;
  justify-content: center;
  text-align: center;
  justify-items: center;

  &__container1 {
    padding-top: 41px;
  }
}

.text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  &__uppercase {
    text-transform: uppercase;
  }
}

.list__item {
  &--img1 {
    width: 90px;
    height: 99px;
    margin-top: 36px;
    margin-bottom: 42px;
  }
  &--img2 {
    width: 90px;
    height: 90px;
    margin-top: 36px;
    margin-bottom: 42px;
  }
  &--img3 {
    width: 90px;
    height: 90px;
    margin-top: 36px;
    margin-bottom: 42px;
  }
  &--text {
    font-size: 20px;
    padding-bottom: 12px;
  }
  &--paragraph {
    padding-bottom: 45px;
  }
}

// @include tablet {
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: auto 1fr;
//   grid-auto-flow: row;
//   text-align: center;
//   justify-items: center;
// // }
// &__text {
//   @include title2($darkcolor);
//   text-align: center;
//   width: 322px;
//   padding-top: 45px;
//   padding-bottom: 7px;
//   @include tablet {
//     grid-column: span 3;
//     width: 100%;
//   }
