.section1 {
  color: $color-green;
  background-color: $background-color;
  padding: 0 45px;

  &__container1 {
    padding-top: 41px;
  }
  &__container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  &__uppercase {
    text-transform: uppercase;
  }
}

.list__item {
  grid-column: span 1;

  &--img1 {
    width: 90px;
    height: 99px;
    margin-top: 36px;
    margin-bottom: 42px;
  }
  &--img2 {
    width: 90px;
    height: 90px;
    margin-top: 36px;
    margin-bottom: 42px;
  }
  &--img3 {
    width: 90px;
    height: 90px;
    margin-top: 36px;
    margin-bottom: 42px;
  }
  &--text {
    font-size: 20px;
    padding-bottom: 12px;
  }
  &--paragraph {
    padding-bottom: 45px;
  }
}
